<div class="confirm-overlay" id="confirm-overlay">
    <h2>Are you sure, you want to delete this Document?</h2>
    <a id="yes">
        <button>Yes</button>
    </a>
    <a href="/documents" id="no">
        <button>No</button>
    </a>
</div>
<div class="dark-overlay">
</div>